<div class="card">
  <div class="card-header"
       id="headingOne">
    <h5 class="mb-0">
      <a class="btn btn-link"
              data-toggle="collapse"
              [attr.data-target]="'#ticket' + ticket.id"
              aria-expanded="true"
              aria-controls="collapseOne"
              routerLink="{{currentRoute ? '' : '/ticket/' + ticket.id}}">
        {{ticket.name}} - {{ticket.nbLefts}} restant{{ticket.nbLefts > 1 ? 's' : ''}}
      </a>
    </h5>
  </div>
  <div id="ticket{{ticket.id}}"
       class="collapse"
       aria-labelledby="headingOne"
       data-parent="#accordion"
       appRoutedClass
       [href]="'/ticket/' + ticket.id"
       [classToAppend]="'show'">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail"
               [src]="ticket.urlImage">
        </div>
        <div class="col-md-6">
          {{ticket.description}}
        </div>
        <div class="col-md-2">
          <button class="btn-danger float-right"
                  data-toggle="modal"
                  data-target="#confirmationModal"
                  (click)="remove()">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
